<?xml version='1.0' encoding='utf-8'?>
<widget id="com.travelcompositor.online" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Travelc</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="https://estropical.paquetedinamico.com/home" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="xhdpi" src="/img/manifest/logo96.png" />
        <icon density="xxxhdpi" src="/img/manifest/logo192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="false" />
    <platform name="windows">
    </platform>
    <platform name="wp8">
    </platform>
    <allow-navigation hap-rule="yes" href="https://estropical.paquetedinamico.com/*" />
    <allow-navigation href="*" />
</widget>
